*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* common */
.discribtion{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
}

header{
    max-width: 1260px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px 20px 30px;
}

/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.left1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin-right: 50px;
}

.left1>img{
    width: 3rem;
height: 3.5005rem;

}
.nav-title{
 color: #131318;
font-size: 2.25rem;
font-style: normal;
font-weight: 800;

}

.nav-item{
    width: 50%;
}
.nav-item ul{
    display: flex;
    list-style: none;
}
.nav-item ul li{
    margin: 10px;
}
.nav-item ul li a{
    text-decoration: none;
    color: #424247;
text-align: center;
font-size: 1.125rem;
font-weight: 400;
padding: 10px;
}

/* banner section */
.banner{
    background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding:200px 300px;
}
.banner-title{
    color: #FFF;
font-size: 4rem;
font-weight: 800;
margin-top: -50px;
}
.banner-discription{
    color: #FFF;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    
}

.find-now-section{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    border-radius: 0.5rem;
border-radius: 0.5rem;
background: rgba(255, 255, 255, 0.30);

}
.where-go{
    width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FFF;
border: 0;
}
::placeholder{
    color: rgba(19, 19, 24, 0.50);

text-align: center;
font-size: 1rem;
font-weight: 400;

}

select{
    width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FFF;
border: 0;
}

.find-now-btn{
 width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FF5400;
color: #FFF;
font-size: 1.2rem;
display: flex;
align-items: center;
border: none;

}

main{
    max-width: 1260px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 20px 20px 20px;
    min-height: 2800px;
}


/* popular tour section stat */
.popular-tour-section{
    display: flex;
}

.popular-tour-content{
    width: 50%;
}
.popular-tour-title{
    color: #131318;
font-size: 2rem;
font-style: normal;
font-weight: 800;
margin: 20px;
}
.popular-tour-content ul li {
    margin: 20px;
    padding: 0 20px;
    font-size: 20px;
}

.rm-btn{
    width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FF5400;
color: #fff;
border: none;
margin-left: 50px;
}
.popular-tour-picture{
    /* width: 48%;
    padding: 20px 55px; */
}
/* popular tour section end */

/* destination section */
.destination{
    margin-top: 30px;
    
}
.destination-title{
    color: #131318;

text-align: center;
font-size: 2.5rem;
font-style: normal;
font-weight: 800;
}

 .first-row{
    display: flex;
    gap: 40px;
    
    
    
  
    
} 
.first-row img{
    width: 100%;
    
    

} 

.second-row{
    display: flex;
    gap: 20px;
}

/* common css */
.card{
    position: relative;
    margin-top: 10px;
}
.card .text{
    position: absolute;
    top: 100px;
    left: 100px;
    color: #FFF;
text-align: center;
font-size: 1.75rem;
font-weight: 800;
}


.third-row{
    display: flex;
    gap: 20px;
}


/* why chose us section */
.why-chose-us{
    text-align: center;
    padding: 50px 0;
    width: 100%;
    margin-top: 50px;
   
}
.why-chose-us-title{
    color: #131318;
font-size: 2.5rem;
font-weight: 800;
margin-top: 50px;
}

.why-chose-us-container{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}
.why-chose-us-card1{
    border-radius: 1rem;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
width: 100%;
height: 17.75rem;
}

.why-chose-us-card2{
    border-radius: 1rem;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 100%;
}

.why-chose-heading{
    color: #131318;
font-size: 1.5rem;
font-weight: 800;
line-height: normal;
}


.why-chose-us-card3{
    border-radius: 1rem;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
width: 50%;
margin: auto;
align-items: center;
height: 20rem;
margin-top: 40px;
}


/* discound section */
.discound{
    margin-top: 50px;
    text-align: center;
}

.discount-card-one{
    padding: 50px 0;
    position: relative;
}
.details{
    display: flex;
    flex-direction: column;
    width: 30.1875rem;
height: 20.3125rem;
border-radius: 1rem;
border: 2px solid #fff;
word-wrap: break-word;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
position: absolute;
bottom: 100px;
left: 600px;
justify-content: center;
align-items: center;
}
.details-title{
    color: #131318;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
}
.discound-details{
    color: #5A5A5D;

font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}
.price{
    color: #FF5400;
font-size: 1.25rem;
font-style: normal;
font-weight: 800;
}
.btn-discound{
    width: 9.375rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FF5400;
border: 0;
color: #FFF;
margin-top: 20px;
padding: 10px 20px;

}
/* details number two */

.details2{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30.1875rem;
height: 20.3125rem;
border-radius: 1rem;
border: 2px solid #fff;
word-wrap: break-word;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
justify-content: center;
align-items: center;
bottom: 100px;
right: 600px;
}

.details-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

/* perfect place section start */
.perfect-place{padding: 20px 0;
    margin-top: 50px;
    display: flex;

}
.perfect-place-content{
    
    text-align: center;
}


/* newslater-section */
.newslater-section{
    display: flex;
    margin-top: 50px;
    gap: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 29rem;
height: 25.75rem;
background: #FFF;
border-radius: 1rem;
border: 1px solid #FF5400;

}
.newslatter-title{
    color: #131318;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
padding: 20px 0;
}
input{
    border: 0;
    width: 24.5625rem;
height: 3.25rem;
border-radius: 0.5rem;
background: rgba(19, 19, 24, 0.05);
margin: 10px;
margin-bottom: 20px;
}
::placeholder{
    color: rgba(19, 19, 24, 0.30);
font-size: 1rem;
font-style: normal;
font-weight: 400;
}
.subscribe{
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 1.25rem;
font-style: normal;
font-weight: 800;
border-radius: 0.5rem;
background: #FF5400;
width: 24.5625rem;
height: 3.25rem;
border: 1px solid #FF5400;
}

.right{
    position: relative;
}
.card-tavel{
    width: 20.25rem;
height: 7.5rem;
transform: rotate(-19.628deg);
border-radius: 1rem;
background: #FF5400;
position: absolute;
bottom: 100px;
left: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#travel{
    color: #FFF;

text-align: center;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#save-up{
    color: #FFF;
font-size: 2rem;
font-style: normal;
font-weight: 800;
}


/* footer */
footer{
    max-width: 1260px;
    margin: auto;
    width: 90rem;
height: 31.375rem;
background: rgba(19, 19, 24, 0.05);
text-align: center;
margin-top: 50px;
}

 
.logo{
  font-size: 35px;
  margin: 20px;
}

.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -20px;
}
.fname{
font-size: 2rem;
font-weight: 800;
line-height: normal;
padding: 20px;
margin-left: 50px;
}



/* responsive */
/* small device */
@media screen and (max-width: 576px) {

    .nav-item ul{
        display: flex;
        flex-direction: column !important;
    }
    .find-now-section {
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
    }
    .banner{
        padding: 20px;
        overflow-x: hidden;
        width: 400px;
        margin: auto;
    }
     .banner-title{
        font-size: 50px;
     margin-top: 20px;  
    }
    .banner-discription{
        font-size: 0.rem;
        margin-bottom: -20px;
    }

    .popular-tour-content{
        width: 100%;
    }

    select{
        width: 20.875rem;
    padding: 10 25px;
    }
    .where-go{
        width: 21rem;
    }
    .find-now-btn{
        /* padding: 0 100px;
        width: 21rem; */
        width: 100%;
        margin: auto;
        
    }
    .popular-tour-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .popular-tour-content ul li {
      margin: 0;
        padding: 0 ;
        
        
        
       
    }
    .popular-tour-picture{
       padding: 0;
       margin: 0;
        /* margin-left: -100px; */
    }

    .first-row,.second-row, .third-row{
        flex-direction: column;
    }
    .kashmir{
        width: 100%;
        margin: auto;
    }
    /* why chose us */
    .why-chose-us-container{
        flex-direction: column;
    }
    .why-chose-us-card3{
        align-items: center;
        justify-content: center;
    }
    .details{
        width: 50%;
        height: auto;
        left: 101px;
        
    }
    .perfect-place{
        flex-direction: column;
        width: 100%;
    }
  *{
    max-width: 100%;
    margin: auto;
  }
  footer{
    width: 100%;
  }

  /* .newslater-section */
  .newslater-section{
    flex-direction: column;
    width: 100%;
  }
  .card-tavel{
    left: 0;
  }
}